@model IEnumerable<MMS.Data.Models.Movie>

<partial name="_BreadCrumbs" model=@(new []
{
    ("/", "Home"), ("","MoviesByYear")

})>

    <!--Breadcrumbs added for a nicer user experience! -->


    <h4>Movies By Director</h4>

    <p>
        <a class="btn btn-sm btn-primary my-3" asp-controller="Movie" asp-action="Create">Create Movie</a>
        <!--------Created a button with the class and the controller is movie and action is the create in the controller -->
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Director</th>
                <th scope="col">Year</th>
                <th scope="col">Title</th>
                <th scope="col"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; Image</th>
                <!-----Brute force approach but a quick way to get the image text looking nice and it greats space-->
                <th scope="col"> Options</th>
            </tr>

        </thead>
        <tbody>
            <!------ For each loop to loop through all the model movie and pull the director by order-->
            @foreach (var m in Model.OrderBy(m => m.Director))
            {
            <tr>
                <td>
                    @m.Director
                </td>
                <td>
                    @m.Year
                </td>
                <td>
                    @m.Title
                </td>
                <td>
                    <img src="@m.PosterUrl" class="img-fluid" height="150" width="150">
                </td>
                <td>

                    <!--Link to details view with icons-->
                    <a asp-controller="Movie" asp-action="Details" asp-route-id=@m.Id><i class="far fa-eye"></i></a>
                    <!-- Link to edit view with icons  -->
                    <a asp-controller="Movie" asp-action="Edit" asp-route-id=@m.Id><i class="far fa-edit"></i></a>
                    <!-- Linke to Delete view icons -->
                    <a asp-controller="Movie" asp-action="Delete" asp-route-id=@m.Id><i class="far fa-trash-alt"></i></a>

                </td>
            </tr>
            }
        </tbody>
    </table>
