@model IList<(string, string)>

@if (Model != null)
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            @foreach (var (link, crumb) in Model)
            {
                @if (link == null || link.Length == 0)
                {
                    <li class="breadcrumb-item active" aria-current="page">@crumb</li>
                }
                else
                {
                    <li class="breadcrumb-item"><a href="@link">@crumb</a></li>
                }
            }
        </ol>
    </nav>
}

<!----Partial view created. THis allowes me to show a navigation through the pages you click and can easily click
    to go back to the previous page. A nicer feel to it. AKA bread crumbs. I am using this file so I can create partial views
    in the view pages :)-->